@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes jelloHorizontalWebKit {
  0% {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}

@keyframes jelloHorizontal {
  0% {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dotFlashing {
  0% {
    content: '';
  }
  33% {
    content: '.';
  }
  66% {
    content: '..';
  }
  100% {
    content: '...';
  }
}

@keyframes dotPulse {
  0% {
    transform: scale(0.8);
    opacity: 0.7;
  }
  50% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(0.8);
    opacity: 0.7;
  }
}

.bounce {
  animation: bounce 2s infinite;
}

.fade-in {
  animation: fadeIn 1s forwards;
}

.jello-horizontal {
  animation: jelloHorizontal 0.8s both;
}

.spin {
  animation: spin 1s linear infinite;
}

.dot-flashing {
  animation: dotFlashing 1s steps(3) infinite;
}

.dot-pulse {
  animation: dotPulse 1.5s infinite;
}

@keyframes holo-shift {
  0% {
    --background-x: 20%;
    --background-y: 35%;
  }
  25% {
    --background-x: 50%;
    --background-y: 45%;
  }
  50% {
    --background-x: 80%;
    --background-y: 75%;
  }
  75% {
    --background-x: 40%;
    --background-y: 50%;
  }
  100% {
    --background-x: 20%;
    --background-y: 35%;
  }
}

@keyframes radiant-move {
  0% {
    --pointer-x: 0%;
    --pointer-y: 0%;
  }
  25% {
    --pointer-x: 50%;
    --pointer-y: 0%;
  }
  50% {
    --pointer-x: 100%;
    --pointer-y: 100%;
  }
  75% {
    --pointer-x: 50%;
    --pointer-y: 100%;
  }
  100% {
    --pointer-x: 0%;
    --pointer-y: 0%;
  }
}
