@import './animations.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --max-width: 1280px;
  --border-radius: 12px;

  --font-size-lg: 2rem;
  --font-size-md: 1.5rem;
  --font-size-sm: 1rem;
  --font-family: Arial, sans-serif;

  /* Heading styles */
  --font-heading1-size: 32px;
  --font-heading1-weight: bold;

  --font-heading2-size: 24px;
  --font-heading2-weight: bold;

  /* Body text styles */
  --font-body-size: 16px;
  --font-body-weight: normal;

  /* Caption text styles */
  --font-caption-size: 12px;
  --font-caption-weight: normal;

  --color-primary: #73ce9e;
  --color-primary-opacity: #73ce9e94;
  --color-secondary: #ff4500;
  --color-secondary-dark: #cc3700;
  --color-secondary-light: #fd9363;
  --color-secondary-opacity: rgba(255, 69, 0, 0.5);
  --color-background: #4ac390;

  /* Utility Colors */
  --color-hover: rgba(34, 139, 34, 0.7);
  --color-disabled-border: #cccccc;
  --color-disabled-text: #999999;
  --color-disabled-background: #f0f0f0;

  /* Basic Shades */
  --color-white: #ffffff;
  --color-black: #000000;

  /* Button Colors */
  --color-button-basic: #f4f4f4;
  --color-button-hover: #434343;

  /* Border Colors */
  --color-border-basic: #efefef;
  --color-border-darken: #cccccc;
  --color-border-black: #242424;

  /* Text Colors */
  --color-text-basic: #262626;
  --color-text-white: #f4f4f4;
  --color-text-placeholder: #757575;
  --color-text-error: #e91e63;

  /* Status Colors */
  --color-success: #4caf50;
  --color-success-lighter: #d4edda;
  --color-error: #e91e63;
  --color-error-lighter: #f8d7da;
  --color-warning: #ffc107;
  --color-warning-lighter: #fff3cd;
  --color-info: #2196f3;
  --color-info-lighter: #cce5ff;
  --color-cancel: #bdbdbd;
  --color-cancel-lighter: #f4f4f4;
  --font-color: rgba(0, 0, 0, 1);
  /*
  - xs : mobile min-width(320px)
  - sm : ipad 세로 ( portrait )
  - md : ipad 가로 ( landscape ), ipad pro<12.9> 세로 ( portrait )  [ css - media query  ]
  - lg : mac 15, mac 13, ipad pro<12.9> 가로 ( landscape )
  - xl : desktop 
*/

  --mobile-width: 768px;
  --tablet-width: 1024px;
  --desktop-width: 1200px;

  --sm-break-point: 600px;
  --md-break-point: 960px;
  --lg-break-point: 1264px;
  --xl-break-point: 1904px;

  /* 카드 animation 관련 variables */

  --card-aspect: 0.718;
  --card-radius: 4.55% / 3.5%;
  --card-edge: hsl(47, 100%, 78%);
  --card-back: hsl(0, 0%, 96%);
  --card-glow: hsl(175, 100%, 90%);

  --sunpillar-1: hsl(2, 100%, 73%);
  --sunpillar-2: hsl(53, 100%, 69%);
  --sunpillar-3: hsl(93, 100%, 69%);
  --sunpillar-4: hsl(176, 100%, 76%);
  --sunpillar-5: hsl(228, 100%, 74%);
  --sunpillar-6: hsl(283, 100%, 73%);

  --sunpillar-clr-1: var(--sunpillar-1);
  --sunpillar-clr-2: var(--sunpillar-2);
  --sunpillar-clr-3: var(--sunpillar-3);
  --sunpillar-clr-4: var(--sunpillar-4);
  --sunpillar-clr-5: var(--sunpillar-5);
  --sunpillar-clr-6: var(--sunpillar-6);

  --red: #f80e35;
  --yellow: #eedf10;
  --green: #21e985;
  --blue: #0dbde9;
  --violet: #c929f1;

  --clip: inset(9.85% 8% 52.85% 8%);

  --scanlines-space: 1px;
  --scanlines-light: #666;
  --scanlines-dark: black;

  --bars: 3%;
  --bar-color: hsla(0, 0%, 70%, 1);
  --bar-bg: hsla(0, 0%, 0%, 1);

  --barwidth: 1.2%;
  --radiantbarwidth: 1.2%;
  --space: 200px;
  --hue: 50;
  --imgsize: cover;

  /* --foil: url('/public/foil_LATE.jpg'); */
}

/* 기본 스타일 */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--font-family);
  color: var(--color-black);
  background-color: var(--color-white);
  font-size: 16px;
  width: 100%;
}

main {
  height: calc(var(--vh, 1vh) * 100);
  max-width: 375px;
}

:is(.select-none) {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.col {
  flex-basis: 0;
  flex-grow: 1;
}

.col + .col {
  margin-left: 4px;
}

.d-flex {
  display: flex;
}

.d-flex.justify-center {
  justify-content: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-block-start: 0.8em;
  margin-block-end: 0.8em;
}

p {
  margin-bottom: 0.1em;
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
header,
hgroup,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:after,
blockquote:before,
q:after,
q:before {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
:after,
:before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border-width: 0;
  border-style: solid;
  border-color: var(--border-color, currentColor);
}

input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #dddddd;
  padding: 10px 15px;
  margin-bottom: 4px;
  font-size: 14px;
}

label {
  line-height: 2;
  text-align: left;
  display: block;
  margin-top: 4px;
  color: black;
  font-size: 12px;
  font-weight: 200;
}

button[type='submit']:active,
input[type='button']:active,
input[type='submit']:active {
  transition: 0.3s all;
  transform: translateY(3px);
  border: 1px solid transparent;
  opacity: 0.8;
}

input:disabled {
  opacity: 0.4;
}

input[type='button']:hover {
  transition: 0.3s all;
}

button[type='submit'],
input[type='button'],
input[type='submit'] {
  -webkit-appearance: none;
}

@layer components {
  .button-outline {
    @apply bg-button-basic text-text-default px-6 py-2.5 text-button-text rounded-button min-w-[48%] border border-black cursor-pointer transition-colors duration-300;
  }
  .button-outline:hover:not(:disabled) {
    @apply bg-button-hover text-text-white;
  }
  .button-outline:disabled {
    @apply opacity-80 cursor-not-allowed;
  }
}

/* Media queries */
@media only screen and (max-width: var(--mobile-width)) {
  /* Styles for mobile screens */
}

@media only screen and (max-width: var(--tablet-width)) {
  /* Styles for tablet screens */
}

@media only screen and (max-width: var(--desktop-width)) {
  /* Styles for desktop screens */
}

@media only screen and (min-width: var(--tablet-width)) {
  /* Styles for tablet and larger screens */
}

@media only screen and (max-width: calc(var(--tablet-width) - 1px)) {
  /* Styles for screens smaller than tablet width */
}

@media only screen and (max-width: calc(var(--mobile-width) - 1px)) {
  /* Styles for screens smaller than mobile width */
}

.card-container {
  width: 320px;
  height: 491px;
  perspective: 1000px;
  position: relative;
  overflow: hidden;
  transform-style: preserve-3d;
  transition: transform 0.6s;
  pointer-events: auto;
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.card__front,
.card__back {
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card__back {
  transform: rotateY(180deg);
}

.card2 {
  -webkit-transform: translate3d(0px, 0px, 0.01px);
  transform: translate3d(0px, 0px, 0.01px);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  pointer-events: none;
  z-index: calc(var(--card-scale) * 2);
  will-change: transform, visibility, z-index;
  width: 320px;
}

.card2,
.card2 * {
  outline: 1px solid transparent;
}

.card:not(.interactive) .card__translater,
.card:not(.interactive) .card__rotator,
.card:not(.interactive) .card__shine,
.card:not(.interactive) .card__glare {
  transition: all 0.3s ease;
}

.card:not(.interactive):hover {
  --pointer-x: 25% !important;
  --pointer-y: 10% !important;
  --card-scale: 1.1 !important;
  --card-opacity: 1 !important;
  --translate-x: 0px !important;
  --translate-y: -10px !important;
  --rotate-x: 7deg !important;
  --rotate-y: -19deg !important;
  --background-x: 44% !important;
  --background-y: 36% !important;
  --pointer-from-center: 0.9 !important;
  --pointer-from-top: 0.11 !important;
  --pointer-from-left: 0.25 !important;
}

.card.water {
  --card-glow: hsl(192, 97%, 60%);
}
.card.fire {
  --card-glow: hsl(9, 81%, 59%);
}
.card.grass {
  --card-glow: hsl(96, 81%, 65%);
}
.card.lightning {
  --card-glow: hsl(54, 87%, 63%);
}
.card.psychic {
  --card-glow: hsl(281, 62%, 58%);
}
.card.fighting {
  --card-glow: rgb(145, 90, 39);
}
.card.darkness {
  --card-glow: hsl(189, 77%, 27%);
}
.card.metal {
  --card-glow: hsl(184, 20%, 70%);
}
.card.dragon {
  --card-glow: hsl(51, 60%, 35%);
}
.card.fairy {
  --card-glow: hsl(323, 100%, 89%);
}

.card,
.card__rotator {
  aspect-ratio: var(--card-aspect);
  border-radius: var(--card-radius);
}

.card.interacting {
  z-index: calc(var(--card-scale) * 120);
}

.card.active .card__translater,
.card.active .card__rotator {
  touch-action: none;
}

.card__translater,
.card__rotator {
  display: grid;
  perspective: 600px;
  will-change: transform, box-shadow;
  transform-origin: center;
  -webkit-transform-origin: center;
}

.card__translater {
  width: auto;
  position: relative;
  -webkit-transform: translate3d(var(--translate-x), var(--translate-y), 0.1px) scale(var(--card-scale));
  transform: translate3d(var(--translate-x), var(--translate-y), 0.1px) scale(var(--card-scale));
}

.card__rotator {
  -webkit-transform: rotateY(var(--rotate-x)) rotateX(var(--rotate-y));
  transform: rotateY(var(--rotate-x)) rotateX(var(--rotate-y));
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  pointer-events: auto;
}

button.card__rotator {
  border: none;
  background: transparent;
  padding: 0;
  -webkit-appearance: none;
  appearance: none;
}

.card__rotator,
.card.active .card__rotator:focus {
  transition:
    box-shadow 0.4s ease,
    opacity 0.33s ease-out;
  box-shadow:
    0 0 3px -1px transparent,
    0 0 2px 1px transparent,
    0 0 5px 0px transparent,
    0px 10px 20px -5px black,
    0 2px 15px -5px black,
    0 0 20px 0px transparent;
}

.card.active .card__rotator,
.card__rotator:focus {
  box-shadow:
    0 0 3px -1px white,
    0 0 3px 1px var(--card-edge),
    0 0 12px 2px var(--card-glow),
    0px 10px 20px -5px black,
    0 0 40px -30px var(--card-glow),
    0 0 50px -20px var(--card-glow);
}

.card__rotator * {
  width: 100%;
  display: grid;
  grid-area: 1/1;
  aspect-ratio: var(--card-aspect);
  border-radius: var(--card-radius);
  image-rendering: optimizeQuality;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  pointer-events: none;
  overflow: hidden;
}

.card__rotator img {
  height: auto;
  -webkit-transform: translate3d(0px, 0px, 0.01px);
  transform: translate3d(0px, 0px, 0.01px);
}

.card__back {
  background-color: var(--card-back);
  -webkit-transform: rotateY(180deg) translateZ(1px);
  transform: rotateY(180deg) translateZ(1px);
  backface-visibility: visible;
}

.card__front,
.card__front * {
  backface-visibility: hidden;
}

.card__front {
  opacity: 1;
  transition: opacity 0.33s ease-out;
  -webkit-transform: translate3d(0px, 0px, 0.01px);
  transform: translate3d(0px, 0px, 0.01px);
}

.loading .card__front {
  opacity: 0;
}

.loading .card__back {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
}

.card__shine {
  display: grid;
  transform: translateZ(1px);
  overflow: hidden;
  z-index: 3;
  background: transparent;
  background-size: cover;
  background-position: center;
  filter: brightness(0.85) contrast(2.75) saturate(0.65);
  mix-blend-mode: color-dodge;
  opacity: var(--card-opacity);
}

.card__glare {
  transform: translateZ(1.41px);
  overflow: hidden;
  background-image: radial-gradient(
    farthest-corner circle at var(--pointer-x) var(--pointer-y),
    hsla(0, 0%, 100%, 0.8) 10%,
    hsla(0, 0%, 100%, 0.65) 20%,
    hsla(0, 0%, 0%, 0.5) 90%
  );
  opacity: var(--card-opacity);
  mix-blend-mode: overlay;
}

.card.masked .card__shine,
.card.masked .card__shine:before,
.card.masked .card__shine:after {
  -webkit-mask-image: var(--mask);
  mask-image: var(--mask);
  -webkit-mask-size: cover;
  mask-size: cover;
  -webkit-mask-position: center center;
  mask-position: center center;
}

.card[data-rarity='rare holo'] .card__glare:after,
.card[data-rarity='rare holo cosmos'] .card__glare:after,
.card[data-rarity$='reverse holo'] .card__glare:after {
  clip-path: var(--clip);
}

.card[data-rarity='rare holo'][data-subtypes^='stage'] .card__glare:after,
.card[data-rarity='rare holo cosmos'][data-subtypes^='stage'] .card__glare:after,
.card[data-rarity$='reverse holo'][data-subtypes^='stage'] .card__glare:after {
  clip-path: var(--clip-stage);
}

.card[data-rarity='rare holo'][data-supertype='trainer'] .card__glare:after,
.card[data-rarity='rare holo cosmos'][data-supertype='trainer'] .card__glare:after,
.card[data-rarity$='reverse holo'][data-supertype='trainer'] .card__glare:after {
  clip-path: var(--clip-trainer);
}
