.container {
  position: relative;
  width: 320px;
  height: 491px;
  /* background: linear-gradient(to bottom, #222, #333); */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.effectsLayer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 99%;
  pointer-events: none;
  z-index: 2;
}
