.container {
  width: 320px;
  height: 491px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.radiant {
  display: grid;
  position: absolute;
  border-radius: 20px;

  width: 100%;
  height: 99%;
  z-index: 1;

  background-image: radial-gradient(
      farthest-corner ellipse at calc(((var(--pointer-x)) * 0.5) + 25%) calc(((var(--pointer-y)) * 0.5) + 25%),
      hsl(0, 0%, 95%) 20%,
      var(--card-glow, hsl(50, 100%, 70%)) 130%
    ),
    repeating-linear-gradient(
      45deg,
      hsl(0, 0%, 10%) 0%,
      hsl(0, 0%, 10%) 1%,
      hsl(0, 0%, 10%) var(--barwidth, 1.2%),
      hsl(0, 0%, 20%) calc(var(--barwidth, 1.2%) + 0.01%),
      hsl(0, 0%, 20%) calc(var(--barwidth, 1.2%) * 2),
      hsl(0, 0%, 35%) calc(var(--barwidth, 1.2%) * 2 + 0.01%),
      hsl(0, 0%, 35%) calc(var(--barwidth, 1.2%) * 3),
      hsl(0, 0%, 40.5%) calc(var(--barwidth, 1.2%) * 3 + 0.01%),
      hsl(0, 0%, 40.5%) calc(var(--barwidth, 1.2%) * 4),
      hsl(0, 0%, 45%) calc(var(--barwidth, 1.2%) * 4 + 0.01%),
      hsl(0, 0%, 45%) calc(var(--barwidth, 1.2%) * 5),
      hsl(0, 0%, 40.5%) calc(var(--barwidth, 1.2%) * 5 + 0.01%),
      hsl(0, 0%, 40.5%) calc(var(--barwidth, 1.2%) * 6),
      hsl(0, 0%, 35%) calc(var(--barwidth, 1.2%) * 6 + 0.01%),
      hsl(0, 0%, 35%) calc(var(--barwidth, 1.2%) * 7),
      hsl(0, 0%, 20%) calc(var(--barwidth, 1.2%) * 7 + 0.01%),
      hsl(0, 0%, 20%) calc(var(--barwidth, 1.2%) * 8),
      hsl(0, 0%, 10%) calc(var(--barwidth, 1.2%) * 8 + 0.01%),
      hsl(0, 0%, 10%) calc(var(--barwidth, 1.2%) * 9),
      hsl(0, 0%, 0%) calc(var(--barwidth, 1.2%) * 9 + 0.01%),
      hsl(0, 0%, 0%) calc(var(--barwidth, 1.2%) * 10)
    ),
    repeating-linear-gradient(
      -45deg,
      hsl(0, 0%, 10%) 0%,
      hsl(0, 0%, 10%) 1%,
      hsl(0, 0%, 10%) var(--barwidth, 1.2%),
      hsl(0, 0%, 20%) calc(var(--barwidth, 1.2%) + 0.01%),
      hsl(0, 0%, 20%) calc(var(--barwidth, 1.2%) * 2),
      hsl(0, 0%, 35%) calc(var(--barwidth, 1.2%) * 2 + 0.01%),
      hsl(0, 0%, 35%) calc(var(--barwidth, 1.2%) * 3),
      hsl(0, 0%, 40%) calc(var(--barwidth, 1.2%) * 3 + 0.01%),
      hsl(0, 0%, 40%) calc(var(--barwidth, 1.2%) * 4),
      hsl(0, 0%, 45%) calc(var(--barwidth, 1.2%) * 4 + 0.01%),
      hsl(0, 0%, 45%) calc(var(--barwidth, 1.2%) * 5),
      hsl(0, 0%, 40%) calc(var(--barwidth, 1.2%) * 5 + 0.01%),
      hsl(0, 0%, 40%) calc(var(--barwidth, 1.2%) * 6),
      hsl(0, 0%, 35%) calc(var(--barwidth, 1.2%) * 6 + 0.01%),
      hsl(0, 0%, 35%) calc(var(--barwidth, 1.2%) * 7),
      hsl(0, 0%, 20%) calc(var(--barwidth, 1.2%) * 7 + 0.01%),
      hsl(0, 0%, 20%) calc(var(--barwidth, 1.2%) * 8),
      hsl(0, 0%, 10%) calc(var(--barwidth, 1.2%) * 8 + 0.01%),
      hsl(0, 0%, 10%) calc(var(--barwidth, 1.2%) * 9),
      hsl(0, 0%, 0%) calc(var(--barwidth, 1.2%) * 9 + 0.01%),
      hsl(0, 0%, 0%) calc(var(--barwidth, 1.2%) * 10)
    );

  background-size: 240% 240%;
  background-position:
    center,
    calc(((var(--background-x) - 50%) * 0.9) + 50%) calc(((var(--background-y, 50%) - 50%) * 0.9) + 50%),
    calc(((var(--background-x) - 50%) * 0.9) + 50%) calc(((var(--background-y, 50%) - 50%) * 0.9) + 50%);

  background-blend-mode: exclusion, darken, color-dodge;

  filter: brightness(0.5) contrast(2) saturate(1.75);
  mix-blend-mode: color-dodge;
}

.radiant--holo {
  content: '';

  background-image: var(--dynamic-background, url('/pattern.webp')),
    repeating-linear-gradient(90deg, #e95b5b 0%, #f8a73e 24%, #efef44 45%, #4ff44f 67%, #5e5eff 83%, #b34bfc 100%);

  background-size: 320px, 491px;
  background-position:
    center,
    calc(((var(--background-x, 50%) - 50%) * -2.5) + 50%) calc(((var(--background-y, 50%) - 50%) * -2.5) + 50%);

  filter: brightness(0.6) contrast(3) saturate(2);
  mix-blend-mode: color-dodge;

  background-blend-mode: hard-light;
}

@media only screen and (max-width: 768px) {
  .radiant--holo {
    animation: holo-shift 6s infinite ease-in-out;
  }
}
@keyframes holo-shift {
  0% {
    --background-x: 20%;
    --background-y: 35%;
  }
  25% {
    --background-x: 50%;
    --background-y: 45%;
  }
  50% {
    --background-x: 80%;
    --background-y: 75%;
  }
  75% {
    --background-x: 40%;
    --background-y: 50%;
  }
  100% {
    --background-x: 20%;
    --background-y: 35%;
  }
}

@keyframes radiant-move {
  0% {
    --pointer-x: 0%;
    --pointer-y: 0%;
  }
  25% {
    --pointer-x: 50%;
    --pointer-y: 0%;
  }
  50% {
    --pointer-x: 100%;
    --pointer-y: 100%;
  }
  75% {
    --pointer-x: 50%;
    --pointer-y: 100%;
  }
  100% {
    --pointer-x: 0%;
    --pointer-y: 0%;
  }
}
