.container {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.radiant {
  display: grid;
  position: absolute;
  border-radius: 20px;

  width: 100%;
  height: 100%;
  z-index: 1;

  background-image: radial-gradient(
      farthest-corner ellipse at calc(((var(--pointer-x)) * 0.5) + 25%) calc(((var(--pointer-y)) * 0.5) + 25%),
      hsl(0, 0%, 95%) 20%,
      var(--card-glow, hsl(50, 100%, 70%)) 130%
    ),
    repeating-linear-gradient(
      45deg,
      hsl(0, 0%, 10%) 0%,
      hsl(0, 0%, 10%) 1%,
      hsl(0, 0%, 10%) var(--radiantbarwidth, 1.2%),
      hsl(0, 0%, 20%) calc(var(--radiantbarwidth, 1.2%) + 0.01%),
      hsl(0, 0%, 20%) calc(var(--radiantbarwidth, 1.2%) * 2),
      hsl(0, 0%, 35%) calc(var(--radiantbarwidth, 1.2%) * 2 + 0.01%),
      hsl(0, 0%, 35%) calc(var(--radiantbarwidth, 1.2%) * 3),
      hsl(0, 0%, 42.5%) calc(var(--radiantbarwidth, 1.2%) * 3 + 0.01%),
      hsl(0, 0%, 42.5%) calc(var(--radiantbarwidth, 1.2%) * 4),
      hsl(0, 0%, 50%) calc(var(--radiantbarwidth, 1.2%) * 4 + 0.01%),
      hsl(0, 0%, 50%) calc(var(--radiantbarwidth, 1.2%) * 5),
      hsl(0, 0%, 42.5%) calc(var(--radiantbarwidth, 1.2%) * 5 + 0.01%),
      hsl(0, 0%, 42.5%) calc(var(--radiantbarwidth, 1.2%) * 6),
      hsl(0, 0%, 35%) calc(var(--radiantbarwidth, 1.2%) * 6 + 0.01%),
      hsl(0, 0%, 35%) calc(var(--radiantbarwidth, 1.2%) * 7),
      hsl(0, 0%, 20%) calc(var(--radiantbarwidth, 1.2%) * 7 + 0.01%),
      hsl(0, 0%, 20%) calc(var(--radiantbarwidth, 1.2%) * 8),
      hsl(0, 0%, 10%) calc(var(--radiantbarwidth, 1.2%) * 8 + 0.01%),
      hsl(0, 0%, 10%) calc(var(--radiantbarwidth, 1.2%) * 9),
      hsl(0, 0%, 0%) calc(var(--radiantbarwidth, 1.2%) * 9 + 0.01%),
      hsl(0, 0%, 0%) calc(var(--radiantbarwidth, 1.2%) * 10)
    ),
    repeating-linear-gradient(
      -45deg,
      hsl(0, 0%, 10%) 0%,
      hsl(0, 0%, 10%) 1%,
      hsl(0, 0%, 10%) var(--radiantbarwidth, 1.2%),
      hsl(0, 0%, 20%) calc(var(--radiantbarwidth, 1.2%) + 0.01%),
      hsl(0, 0%, 20%) calc(var(--radiantbarwidth, 1.2%) * 2),
      hsl(0, 0%, 35%) calc(var(--radiantbarwidth, 1.2%) * 2 + 0.01%),
      hsl(0, 0%, 35%) calc(var(--radiantbarwidth, 1.2%) * 3),
      hsl(0, 0%, 42.5%) calc(var(--radiantbarwidth, 1.2%) * 3 + 0.01%),
      hsl(0, 0%, 42.5%) calc(var(--radiantbarwidth, 1.2%) * 4),
      hsl(0, 0%, 50%) calc(var(--radiantbarwidth, 1.2%) * 4 + 0.01%),
      hsl(0, 0%, 50%) calc(var(--radiantbarwidth, 1.2%) * 5),
      hsl(0, 0%, 42.5%) calc(var(--radiantbarwidth, 1.2%) * 5 + 0.01%),
      hsl(0, 0%, 42.5%) calc(var(--radiantbarwidth, 1.2%) * 6),
      hsl(0, 0%, 35%) calc(var(--radiantbarwidth, 1.2%) * 6 + 0.01%),
      hsl(0, 0%, 35%) calc(var(--radiantbarwidth, 1.2%) * 7),
      hsl(0, 0%, 20%) calc(var(--radiantbarwidth, 1.2%) * 7 + 0.01%),
      hsl(0, 0%, 20%) calc(var(--radiantbarwidth, 1.2%) * 8),
      hsl(0, 0%, 10%) calc(var(--radiantbarwidth, 1.2%) * 8 + 0.01%),
      hsl(0, 0%, 10%) calc(var(--radiantbarwidth, 1.2%) * 9),
      hsl(0, 0%, 0%) calc(var(--radiantbarwidth, 1.2%) * 9 + 0.01%),
      hsl(0, 0%, 0%) calc(var(--radiantbarwidth, 1.2%) * 10)
    );

  background-size:
    cover,
    210% 210%,
    210% 210%;
  background-position:
    center,
    calc(((var(--background-x) - 50%) * 1.5) + 50%) calc(((var(--background-y, 50%) - 50%) * 1.5) + 50%),
    calc(((var(--background-x) - 50%) * 1.5) + 50%) calc(((var(--background-y, 50%) - 50%) * 1.5) + 50%);

  /* calc( ((var(--background-x) - 50%) * 1.5) + 50% ) calc( ((var(--background-y) - 50%) * 1.5) + 50% ), 
    calc( ((var(--background-x) - 50%) * 1.5) + 50% ) calc( ((var(--background-y) - 50%) * 1.5) + 50% ); */

  background-blend-mode: exclusion, darken, color-dodge;

  filter: brightness(0.5) contrast(2) saturate(1.75);
  mix-blend-mode: color-dodge;
}

.radiant--holo {
  content: '';

  background-image:
    url('/pattern.webp'),
    /* $foil 대체 */
      repeating-linear-gradient(
        55deg,
        hsl(3, 95%, 85%) calc(var(--space, 10px) * 1),
        hsl(207, 100%, 84%) calc(var(--space, 10px) * 2),
        hsl(29, 100%, 85%) calc(var(--space, 10px) * 3),
        hsl(160, 100%, 86%) calc(var(--space, 10px) * 4),
        hsl(309, 94%, 87%) calc(var(--space, 10px) * 5),
        hsl(188, 95%, 85%) calc(var(--space, 10px) * 6),
        hsl(3, 95%, 85%) calc(var(--space, 10px) * 7)
      );

  background-size:
    var(--imgsize, 100%),
    400% 100%;
  background-position:
    center,
    calc(((var(--background-x, 50%) - 50%) * -2.5) + 50%) calc(((var(--background-y, 50%) - 50%) * -2.5) + 50%);

  filter: brightness(0.6) contrast(3) saturate(2);
  mix-blend-mode: color-dodge;

  background-blend-mode: hard-light;
}
